.contFormulario {
    /*background: #F7F7F7;*/
    /*background-color: rgba(35,170,104, 0.3);*/
    background-color: rgba(155, 190, 231, 0.7);
    /*background-color: #fafafa;*/
}

.contenedor {
    background: #FFFFFF;
    margin-bottom: 15px;
}

.titSeccion {
    /*padding-left: 15px;*/
    font-size: 1.25rem;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 400;
}

.fila {
    margin: 15px 15px 0px 15px;
    box-sizing: border-box;
    align-content: center;
    /*border: 1px solid black;
    padding: 15px 0px 0px 15px;*/
}

label {
    /*background: #E1E1E1;*/
    /*background-color: rgba(255, 255, 255, 0.87);*/
    /*background-color: rgb(242,239,0);*/
    /*background-color: rgb(251,152,54);*/
    /*background-color: rgb(222, 222, 222);    */
    background-color: rgb(216 229 245);
    font-size: 16px;
    border-radius: 5px;
}

.nombreEscuela {
    width: fit-content;
    padding-right: 15px;
}

.fecha {
    width: 160px;
    padding-right: 5px;
}

.sacramento {
    /*margin: 10px 15px;*/
    /*padding: 0.5px 0px;*/
    /*background: #D6D6D6;*/
    background-color: rgba(177, 204, 235, 0.50);
    border-radius: 5px;
}

.nombreSacr {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
}

.checkbox {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
}

.contFoto2 {
    margin-right: 15px;
    margin-top: 15px;
    position: absolute;
    right: 0%;
    top: 0%;
    width: auto;
    height: auto;
}

.fotoAlumno {
    position: relative;
    width: 150px;
    height: 150px;
    background-color: black;
    opacity: 0.5;
}

.direccion {
    width: auto;
}

.etiqueta {
    /*width: 97px;*/
    /*background-color: rgb(216 229 245);*/
    background-color: white;
    border: 1px solid rgba(0, 0, 0, .3);
    
}

.custom-file-input ~ .custom-file-label::after {
    content: "Buscar"
}

.boton {    
    /*background-color: #000000;*/
    background-color: rgb(24 90 169);
    font-family: Raleway;
    font-weight: 500;
    /*font-weight: 600;
    letter-spacing: 1px;*/
    font-size: 15px;
    color: white;
    border: none;
    display: flex;
    align-items: center;    
}

.botonSecundario {
    background-color: #6c757d;
    border-color: #6c757d;
    color: #fff;
}

.requerido::after{
    content: '*';
    /*color: #e02b27;    */
    color: black;
    margin: 0 0 0 2px;
}