.nav2 {
    /*float: left;*/
    /*flex: 1 1 auto;*/
    /*background-color: rgb(24,67,141);*/
    /*background-color: rgb(30 83 174);*/
    /*background-color: rgb(28 74 166);*/
    max-width: 290px;
    /*background-color: rgba(24,90,169,1);*/
    /*background-color: #185aa9;*/ /*ORIGINAL*/
    /*background-color: #185aa91a;*/ /*OPCION 2*/    
    
    /*background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 4%, rgba(24, 90, 169, 1) 69%, rgba(0, 95, 205, 0.6295066576325492) 100%);*/

    /*Opcion1*/
    /*background: rgb(3, 40, 82);
    background: linear-gradient(0deg, rgba(3, 40, 82, 1) 0%, rgba(24, 90, 169, 0.91) 29%, rgba(24, 90, 169, 0.3) 100%);*/    
}

ul {
    padding-inline-start: 0%;
}

li {
    height: 60px;
    /*vertical-align: top;    */
    /*position: relative;    */
}

.cont_item_nav {
    width: 31px;
    height: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
    /*left: 14px;    */
    /*top: 50%;*/
    /*background-color: white;*/
    /*transform: translate(0, -50%);*/
}

.item_nav {
    /*position: absolute;*/
    /*top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
    width: 65%;
    height: 65%;
}

.texto_nav {
    /*position: absolute;
    top: 50%;
    transform: translate(0, -50%);*/
    width: auto;
    /*left: 50px;*/
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.01em;
    /*color: white;*/
    color: black;
}